<%= form_for(@user) do |f| %>

	<table class="field">
	<tr>
	   	<td><%= f.label :first_name, "First Name" %></td>
    	<td><%= f.text_field :first_name %></td>
  	</tr>
	<tr>
	    <td><%= f.label :last_name, "Last Name" %></td> 
	    <td><%= f.text_field :last_name %></td>
  	</tr>
	<tr>  
	    <td><%= f.label :email %> </td>
	    <td><%= f.text_field :email %></td>
  	</tr>
	<tr>  	
  		<td><%= f.label :password %></td> 
    	<td><%= f.password_field :password %></td>
  	</tr>
	<tr> 
    	<td><%= f.label :password_confirmation, "Confirmation" %></td>
    	<td><%= f.password_field :password_confirmation %></td>
  	</tr>
	<tr> 	
  	  <td></td><td></td><td><%= f.submit "Update" %></td>
  	</tr>
	</table> 

  <%= render 'shared/error_messages', :object => f.object %>
<% end %>