
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field" >
    	<%= f.label :first_name, "First Name" %> <br />
	    <%= f.text_field :first_name %>
   	</div>
  	<br />
 	<div class="field" >
	    <%= f.label :last_name, "Last Name" %> <br />
	    <%= f.text_field :last_name %>
  	</div>
  	<br />
 	<div class="field" >
	    <%= f.label :email %> <br /> 
	    <%= f.text_field :email %>
  	</div>
  	
    <div class="field">
  		<%= f.label :password %> <br />
    	<%= f.password_field :password %>
 	</div>
 	<br />
  	<div class="field">
    	<%= f.label :password_confirmation, "Password Confirmation" %><br />
    	<%= f.password_field :password_confirmation %>
  	</div>
 	<br />
  	<div class="actions" >
  	  <%= f.submit "Sign up" %>
  	</div>
<% end %>
