
<p><strong>Name </strong><%= @user.first_name + " " + @user.last_name %></p>
<p><strong/>Email </strong><%= @user.email %></p>
<p><strong>Appointments </strong> <%= @user.appointments.count %></p>

<% unless @user.appointments.empty? %>
	<table class="appointments" summary="User appointments">
   		<%= render @appointments %>
	</table>
	<%= will_paginate @appointments %>
<% end %>

