<p>
<strong>Vehicle:</strong> <%= appointment.year %> <%= appointment.make %> <%= appointment.model %><br/>
<strong>Mileage:</strong> <%= appointment.mileage %><br/>
<strong>Scheduled for:</strong><%= appointment.date %> at <%= appointment.time %><br/>
Created at <%= appointment.created_at %>.
</p>
