<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="background">

	<div id="center">
		<div id="header">
			<div id="inheader">
				<%= render 'layouts/header' %>
			</div>
		</div>

		<div id="rows">
			<div id="top">
				<div id="navbar">
					<div id="keys">
						<%= render 'layouts/navbar' %>
					</div>
				</div>

			</div>


			<div id="row1">
				    	<%= yield %>
			</div>

			
		</div>

		<div id="sidebar">
		</div>

		<div id="footer">
				<%= render 'layouts/footer' %>
		</div>
	</div>
</body>



</html>
