<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body id="background">

	<div id="center">
		<div id="header">
			<div id="inheader">
				<%= render 'layouts/header' %>
			</div>
		</div>

		<div id="rows">
			<div id="navbar">
				<div id="keys">
					<%= render 'layouts/navbar' %>
				</div>
			</div>
			<div id="top">
				<%= render 'layouts/toprow' %>
			</div>


			<div id="row1">
				<% flash.each do |key, value| %>
          			<div class="flash <%= key %>"><%= value %></div>
        		<% end %>		
				
				<%= yield %>
			</div>

			
		</div>

		<div id="sidebar">
		</div>

		<div id="footer">
				<%= render 'layouts/footer' %>
				
				<%= debug(params) if Rails.env.development? %>
				
		</div>
	</div>
</body>



</html>
